In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score

/Users/abdullahghani/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
#reading the train files
df = pd.read_csv("./adult.csv")

In [4]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [6]:
# finding columns containing '?'
column_names,data_count = df.columns,df.shape[0]
for c in column_names:
    count_nan = df[c].isin(["?"]).sum()
    if count_nan > 0:
        print (c,count_nan)
print("total count :- ",data_count)

workclass 2799
occupation 2809
native-country 857
total count :-  48842

In [7]:
# eliminating the rows containing '?' as they are low in number
df = df[df["workclass"] != "?"]
df = df[df["occupation"] != "?"]
df = df[df["native-country"] != "?"]

In [8]:
#handling Marraige field
df.replace(['Divorced', 'Married-AF-spouse', 
              'Married-civ-spouse', 'Married-spouse-absent', 
              'Never-married','Separated','Widowed'],
             ['not married','married','married','married',

              'not married','not married','not married'], inplace = True)

In [9]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,not married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,married,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,married,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,married,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
5,34,Private,198693,10th,6,not married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [10]:
#frmation of categorical data
from collections import defaultdict
mapping_categorical_data_values = defaultdict(list)

for col in column_names:
    b, c = np.unique(df[col], return_inverse=True)
    mapping_categorical_data_values[col].append(b)
    df[col] = c

In [11]:
# categorical data formed
train_x = np.array(df.iloc[:,:-1].values)
train_y = np.array(df.iloc[:,14].values)

In [12]:
x_train,x_test,y_train,y_test = train_test_split(train_x,train_y,test_size = 0.20,random_state = 1)

In [13]:
#logistic Reg
classifier_LR = LogisticRegression(random_state=0)
classifier_LR.fit(x_train, y_train)
y_pred = classifier_LR.predict(x_test)
accuracy_lr = accuracy_score(y_test,y_pred)

In [14]:
accuracy_lr

0.8278606965174129